<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/_header :: head('Photo and Text Credits')}"></div>
<body>
<div th:replace="~{fragments/_header :: header}"></div>
<div id="credits">
    Photos and descriptions borrowed from the following sources:
    <br/>
    <br/>
    <a href="https://tarasmulticulturaltable.com/choripan-argentinian-chorizo-chimichurri-and-salsa-sandwiches/" target="_blank">Choripán</a>
    <br/>
    <a href="https://hispanickitchen.com/recipes/argentinean-fried-beef-empanadas/" target="_blank">Empanadas</a>
    <br/>
    <a href="https://www.thespruceeats.com/fugazzeta-stuffed-argentinian-style-pizza-3029457" target="_blank">Fugazzeta</a>
    <br/>
    <a href="https://spanishsabores.com/2018/01/13/spanish-tortilla-with-ham-and-peas-recipe-tortilla-de-guisantes-con-jamon/" target="_blank">Tortilla</a>
    <br/>
    <a href="https://www.shop-buenosaires.com/blog/2017/4/13/buenos-aires-best-markets" target="_blank">Feria de San Telmo</a>
</div>
<div th:replace="~{fragments/_footer :: footer}"></div>
</body>
</html>